@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 5.9% 10%;
		--radius: 0rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

* {
	box-sizing: border-box;
}

body {
	min-height: 100dvh;
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	@apply bg-customWhite text-customBlack;
}

@layer base {
	* {
		@apply border-border;
	}
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply uppercase font-dela;
	}

	p {
		@apply text-base;
	}

	h1 {
		@apply text-3xl;
	}

	h2 {
		@apply text-2xl;
	}

	h3 {
		@apply text-xl;
	}

	h4 {
		@apply text-lg;
	}

	h5 {
		@apply text-base;
	}

	h6 {
		@apply text-sm;
	}

	input {
		@apply border-b-2 border-customBlack px-3 py-2;
	}
}

@layer components {
	.btn {
		@apply px-4 py-[6px] font-bold hover:scale-105 active:scale-100 transition disabled:opacity-75 disabled:pointer-events-none;
	}

	.btn-white {
		@apply bg-customWhite text-customBlack;
	}

	.btn-black {
		@apply bg-customBlack text-customWhite;
	}

	.btn-green {
		@apply bg-customGreen text-customWhite;
	}

	.bordered {
		@apply border-2 border-solid border-customBlack;
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

@keyframes show {
	from {
		opacity: 0;
		scale: 0.4;
	}
	to {
		opacity: 1;
		scale: 1;
	}
}

.show {
	view-timeline-name: --show;
	view-timeline-axis: block;

	animation-timeline: --show;
	animation-name: show;

	animation-range: entry 25% cover 40%;
	animation-fill-mode: backwards;
}
